span{
    display: block;
    height: 3vh;
    width: 40vw;
    text-align: left;
    padding-left: 110px;
}

.error{
    color: rgba(240, 47, 47, 0.567);
}

.success{
    color: rgba(134, 118, 118, 0.567);
}